@import '../../assets/styles/functions/mixins';

.product-card{
    width: 100%;
    height: 100%;
    @include flex(column, flex-start, flex-start);
    img{
        height: 85%;
        width: 100%;
        object-fit: cover;
    }
}

.product-details{
    height: 30%;
    padding: 1rem;
    h4{
        padding: 1rem 0;
    }
}
