@import '../../assets/styles/functions/mixins';

.product-card{
    width: 100%;
    height: 100%;
    @include flex(column, space-evenly, flex-start);
    padding: 1rem;
    img{
        height: 70%;
        width: 100%;
        object-fit: cover;
    }
    h4{
        padding: 1rem 0;
    }
}