@import '../../assets/styles/functions/mixins';
@import '../../assets/styles/base/variables';

.product-page{
    width: 100%;
    min-height: 50vh;
    background-color: $grey;
    @include flex(row, center, center);
    flex-wrap: wrap;
}

.product-pageLeft{
    flex: 1 1 50rem;
    width: 100%;
    height: 100%;
    padding: 2rem;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.product-pageRight{
    flex: 1 1 50rem;
    padding: 2rem;
    @include flex(column, center, stretch);

    hr{
        max-width: 80%;
        height: 1px;
        color: $grey;
        margin: 2.5rem 0;
    }
}

.product-description{
    p{
        padding: 1rem 0;
    }
}