@import '../../assets/styles/functions/mixins';
@import '../../assets/styles/base/variables';

.product-page{
    width: 100%;
    background-color: $grey;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
    grid-auto-rows: 550px;
}

.product-pageLeft{
    width: 100%;
    height: 100%;
    padding: 2rem;
    @include flex(row, center, center);
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.product-pageRight{
    padding: 5rem;
    @include flex(column, flex-start, stretch);

    hr{
        max-width: 80%;
        height: 1px;
        color: $grey;
        margin: 2.5rem 0;
    }
}

.product-description{
    p{
        padding: 1rem 0;
        max-width: 80%;
    }
}

.product-keyFeatures{
    padding: 1rem;
}

.product-purchase{
    form{
        width: 80%;
        label{
            @include flex(row, space-between, center);
        }
    }
}