@import '../../assets/styles/functions/mixins';

.products-page{
    width: 100%;
    min-height: 100vh;
    @include flex(column, flex-start, center);
}

.products-banner{
    height: 30vh;
    width: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    };
}

.products-pageTitle{
    padding: 5rem 0;
}

.products-content{
    @include grid(repeat(auto-fill, minmax(305px, 1fr)), 450px, 1rem);  
}